<h2 class="text-align-center m-2">Crear nueva categoría</h2>
<div class="form-container">
  <mat-form-field class="m-2">
    <!-- <p>clave</p> -->
    <mat-label>Clave</mat-label>
    <input matInput type="text" [(ngModel)]="data.clave">
  </mat-form-field>
  <mat-form-field class="m-2">
    <!-- <p>Fecha de creación</p> -->
    <mat-label>Fecha</mat-label>
    <input matInput type="text" [(ngModel)]="data.fechaCreado">
  </mat-form-field>
  <mat-form-field class="m-2">
    <!-- <p>Nombre</p> -->
    <mat-label>Nombre</mat-label>
    <input matInput type="text" [(ngModel)]="data.nombre">
  </mat-form-field>
  <mat-form-field class="m-2" appearance="fill">
    <mat-label>Estado activo</mat-label>
    <mat-select [(ngModel)]="data.activo">
      <mat-option *ngFor="let estado of estados" [value]="estado.value">
        {{estado.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <button mat-flat-button class="m-2" color="primary" (click)="createCategory()">Crear</button>
</div>


<!-- <div *ngFor= let error of errors>

  </div> -->